<p>First, connect one or more of these services:</p>

<ul id="auth">
<li><%- authorizationLink('facebook', 'Facebook') %></li>
<li><%- authorizationLink('twitter', 'Twitter') %></li>
<li><%- authorizationLink('foursquare', 'foursquare') %></li>
<li><%- authorizationLink('instagram', 'Instagram') %></li>
<li><%- authorizationLink('tumblr', 'Tumblr') %></li>
<li><%- authorizationLink('runkeeper', 'RunKeeper') %></li>
<li><%- authorizationLink('fitbit', 'FitBit') %></li>
<li><%- authorizationLink('flickr', 'Flickr') %></li>
</ul>

<p>Then, connect your GitHub account so we can find a repo to sync to:</p>

<ul id="auth">
<li><%- authorizationLink('github', 'GitHub') %></li>
</ul>

<div id="repo-wrapper">
 <p id="repo-block">test</p>
</div>

<div id="empowered">
 <a href="https://singly.com/"><img src="/empowered.png" /></a>
</div>

