<p>First, connect one or more of these services:</p>

<ul id="auth">
<li><%- authorizationLink('facebook', 'Facebook') %></li>
<li><%- authorizationLink('twitter', 'Twitter') %></li>
<li><%- authorizationLink('foursquare', 'foursquare') %></li>
<li><%- authorizationLink('instagram', 'Instagram') %></li>
<li><%- authorizationLink('tumblr', 'Tumblr') %></li>
<li><%- authorizationLink('runkeeper', 'RunKeeper') %></li>
<li><%- authorizationLink('fitbit', 'FitBit') %></li>
<li><%- authorizationLink('flickr', 'Flickr') %></li>
</ul>

<div id="access-token-wrapper">
 <p>Then, run this to save your token and activate the syncing: <input type="text" id="access-token" size="100" /></p>
</div>

<div id="empowered">
 <a href="https://singly.com/"><img src="/empowered.png" /></a>
</div>

